*{
    padding: 0;
    margin:0;
}

html{
    height: 100%;
}

/* header{
    min-height: 10vh;
    display: flex;
    align-items:center ;
    margin:auto;
    padding: 1,5rem;
} */

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: beige;
}



h1
{
    font-family :'Helvetica',cursive ;
    text-align: center;
    margin-top: 200px;
    font-size: 150px;
    font-weight: 800;
    color: transparent;
    background-image: url(https://media.giphy.com/media/33JKNObAnTaWbdH1Rk/giphy.gif);
    background-position: center;
    -webkit-background-clip: text ;
    background-clip: text;

}

.menu{
    list-style:nome ;
    padding: 0;
    background: black;
    width: 100%;
    margin: auto;

}

.menu li a {
    text-decoration: none;
    color: blanchedalmond;
    padding: 15px;
    display: block;
    border-radius: 30px;
}

.menu li {
    display:inline-block;
    text-align: center;
}

.menu li a:hover {
    background: red ;
}

.container {
    position: absolute;
    padding: 10px;
    left: 75% ;
    top: 15%;
    transform:translate(-50%, -50%)

}

input {
    box-sizing: border-box;
    outline:none;
    height: 40px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid red;
    transition: all .7s ease;
}

::placeholder{
    color:grey;
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background:black;
    line-height: 60px;
    border-radius:30%;
    text-align: center;
    cursor: pointer;
    transition: 5s;
}

.btn i {
    font-size: 25px;
    color: beige;
    line-height:65px;
    transition: all .5s ease;

}
.container:hover input {
    width: 350px;
}

.container:hover i {
    transform:rotate(-360deg);
    border-radius: 20%;
    height: 100%;
    height: 100%;
}
.btn:hove{
    background: red;
}

.heure {

    float: right;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    color: blanchedalmond ;
    font-family :'Helvetica',cursive ;
    }


/* h2{

    background: black;
    color: blanchedalmond;
    famille-de-polices :'Caramel',cursive ;
    list-style:nome ;
    padding: 0;
    width: 100;
    max-width:1000px ;
    margin: auto;
    text-decoration:double;
    color: blanchedalmond;
    padding: 15px;
    display: block;
    text-align: center ;
    border-radius: 10px;


}
 */

 footer{
    margin-top: auto;
    width : 90%;
    margin-left: auto;
    margin-right: auto;

 }

.pied{
    background-color: black;
    font-family :'Helvetica',cursive ;
    color: blanchedalmond;
    text-align: center;
}



.image{
background-color: pink;
text-align: center;
}

.stations {
    display: flex;
}

.stations > h3 {
    margin-right: auto;
    margin-left: auto;
}

/* .title{
background: black;
color: blanchedalmond;
famille-de-polices :'Caramel',cursive ;
list-style:nome ;
padding: 0;
width: 100;
max-width:1000px ;
margin: auto;
text-decoration:double;
color: blanchedalmond;
padding: 10px;
display: block;
text-align: center ;
border-radius: 10px;
} */

#map {
    height: 400px;
    width: 100%;
    display: block;
}


h2{
    background-color: green;
    font-family:'Helvetica',cursive ;
    color: black;
    margin-top:auto;
    padding: auto;
    text-align: center;

}

.tram{
    margin-top:10px ;
    margin-left: 10px;
    border-color: green;
    border-style: inset;
    background-color: white;
    padding: auto;


}

.pageBody {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.horaireTable {
    display: flex;
    width: 100%;
}

.horaireTable > div {
    text-align: center;
    margin: 0 auto 0 auto;
}

.tpsDattente {
    display: flex;
}

#stationsDetailsPassages {
  display: flex;
}

h3 {
  padding: 12px 0 0 0;
}
