*{
    padding: 0;
    margin:0; 
}


body{
    background-color: beige;
}

h1 
{
   
    
    famille-de-polices :'Caramel',cursive ;
    text-align: center;
    margin-top: 100px;
    font-size: 150px;
    font-weight: 800;
    color: transparent;
    background-image: url(https://media.giphy.com/media/33JKNObAnTaWbdH1Rk/giphy.gif);
    background-position: center;
    -webkit-background-clip: text ;

}
    

.menu{
    flex:01;
    list-style:nome ;
    align-self: auto;
    padding: 0;
    background: black;
    width: 100;
    max-width:1000px ;
    margin: auto;
    border-radius: 10px;

}
.menu li a {
    text-decoration: none;
    color: blanchedalmond;
    padding: 15px;
    display: block;
    border-radius: 30px;
    


}
.menu li {
    display:inline-block;
    text-align: center;
}

.menu li a:hover {
    background: red ;
}



.container {
    position: absolute;
    padding: 10px;
    left: 75% ;
    top: 15%;
    transform:translate(-50%, -50%)
    
}

input {
    box-sizing: border-box;
    outline:none;
    height: 40px;
    width: 0;
    padding: 0 20px;
    color: black;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid red;
    transition: all .7s ease;
    }

    ::placeholder{
    color:grey;
}

.btn {
position: absolute;
top: 0;
right: 0;
width: 60px;
height: 60px;
background:black;
line-height: 60px;
border-radius:30%;
text-align: center;
cursor: pointer;
transition: 5s;


}
.btn i {
    font-size: 25px;
    color: beige;
    line-height:65px;
    transition: all .7s ease;

}
.container:hover input {
    width: 350px;
}

.container:hover i {
    transform:rotate(-360deg);
    background: red;
    border-radius: 20%;
    height: 100%;
    height: 100%;
}
.btn:hove{
    background: red;
}

.heure {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: fixed;
    padding: 10px ;
    left: 75%;
    top: 0%;
    font-size: 25px;
    color: blanchedalmond ;
    famille-de-polices: 'Caramel',cursive ;

    }

#map{
    height: 70vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 10%;
    
}


h2{
    
    background: black;
    color: blanchedalmond;
    famille-de-polices :'Caramel',cursive ;
    list-style:nome ;
    padding: 0;
    width: 100;
    max-width:1000px ;
    margin: auto;
    text-decoration:double;
    color: blanchedalmond;
    padding: 15px;
    display: block;
    text-align: center ;
    border-radius: 10px;
    
    
}

.pied{
    background-color: black;
    famille-de-polices :'Caramel',cursive ;
    color: blanchedalmond;
 
}



.image{
background-color: pink;
font-weight: 800;
text-align: center;

}
.image  a :hover{
    background: red;

}